@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-action="Login" asp-controller="Home" method="post">
    <input type="email" value="Email" name="email"/>
    <input type="submit" value="Login"/>
</form>
